html,body{
	font-family:Arial, Helvetica, sans-serif;	
}

.header{
	background:#182f44;	
}
.navbar-top-links>li>a{
	color:#ddd;
	background:#182f44 !important;	
}
.navbar-top-links>li>a:hover{
	color:#fff;
	background:#284c6d !important;
}
.navbar-top-links>li>a:focus{
	background:#284c6d !important	
}

#side-menu>li>a{
	padding:15px 20px;
	color:#555;
	font-weight:500;
	font-size:15px
}
#side-menu>li>a>i{
	margin-right:6px	
}
#side-menu>li>ul>li>a{
	color:#777	
}
#page-wrapper{
	min-height:calc(100vh - 51px) !important;	
}
.main-1200{
	max-width:1200px;
	margin:auto;	
}
.breadcrumb{
	background:none;
	padding:10px 0px;
	border-bottom: 1px solid #eee;
	border-radius:0
}

.table td{
	vertical-align:middle !important
}

